// Colors
$dark1: #363734;
$dark2: #4b4c48;
$dark3: #5f615c;
$dark4: #74766f;
$dark5: #888a84;

$orange1: #f29c54;
$orange2: #f5b27a;
$orange3: #f8c8a0;
$orange4: #fbdec6;
$orange5: #fef4ec;

$blue1: #66a6b8;
$blue2: #82b6c5;
$blue3: #9ec6d2;
$blue4: #bad7df;
$blue5: #d5e7ec;

$green1: #719e77;
$green2: #89af8e;
$green3: #a1bfa5;
$green4: #bad0bd;
$green5: #d2e0d4;

$red1: #dc3545;
$red2: #e25865;
$red3: #e87b85;
$red4: #ee9da5;
$red5: #f4c0c5;

$white: #ffffff;
$white2: #efefef;

// Sizing
$cube: 1rem;

// Fonts
$font1: "Lato", sans-serif;
$font2: "NotoSansJP", sans-serif;